# Created by https://www.toptal.com/developers/gitignore/api/windows,visualstudiocode,jupyternotebooks,python
# Edit at https://www.toptal.com/developers/gitignore?templates=windows,visualstudiocode,jupyternotebooks,python

### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*
# ignore all files in Data_Set
Data_Set/*
Features/*
latent_feature/*
# IPython
profile_default/
ipython_config.py

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

### Python Patch ###
# Poetry local configuration file - https://python-poetry.org/docs/configuration/#local-configuration
poetry.toml

# ruff
.ruff_cache/

# LSP config files
pyrightconfig.json

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide
*.zip
*.ipynb
### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.toptal.com/developers/gitignore/api/windows,visualstudiocode,jupyternotebooks,python
latent_feature/TNN/a1.hdf5
latent_feature/TNN/BUK1_20181011_001004.hdf5
latent_feature/TNN/BUK1_20181013_023504.hdf5
latent_feature/TNN/BUK4_20161011_000804.hdf5
latent_feature/TNN/BUK4_20171022_004304a.hdf5
latent_feature/TNN/BUK5_20161101_002104a.hdf5
latent_feature/TNN/BUK5_20180921_015906a.hdf5
latent_feature/TNN/DC01.hdf5
latent_feature/TNN/DC02.hdf5
latent_feature/TNN/DC03.hdf5
latent_feature/TNN/DC04.hdf5
latent_feature/TNN/DC05.hdf5
latent_feature/TNN/DC06.hdf5
latent_feature/TNN/DC07.hdf5
latent_feature/TNN/DC08.hdf5
latent_feature/TNN/DC09.hdf5
latent_feature/TNN/DC10.hdf5
latent_feature/TNN/DC11.hdf5
latent_feature/TNN/DC12.hdf5
latent_feature/TNN/DCASE2021-ML_37045.hdf5
latent_feature/TNN/DCASE2021-ML_40509.hdf5
latent_feature/TNN/DCASE2021-ML_53963.hdf5
latent_feature/TNN/DCASE2021-ML_89792.hdf5
latent_feature/TNN/DCASE2021-ML_126376.hdf5
latent_feature/TNN/DCASE2021-ML_129696.hdf5
latent_feature/TNN/DCASE2021-ML_131198.hdf5
latent_feature/TNN/DCASE2021-ML_131369.hdf5
latent_feature/TNN/DCASE2021-ML_168236.hdf5
latent_feature/TNN/DCASE2021-ML_176488.hdf5
latent_feature/TNN/DCASE2021-ML_190099.hdf5
latent_feature/TNN/DCASE2021-ML_191491.hdf5
latent_feature/TNN/DCASE2021-ML_197045.hdf5
latent_feature/TNN/DCASE2021-ML_268995.hdf5
latent_feature/TNN/DCASE2021-ML_273164.hdf5
latent_feature/TNN/DCASE2021-ML_521435.hdf5
latent_feature/TNN/DCASE2021-ML_72010931.hdf5
latent_feature/TNN/ME1.hdf5
latent_feature/TNN/ME2.hdf5
latent_feature/TNN/n1.hdf5
latent_feature/protoMAML/a1.hdf5
latent_feature/protoMAML/BUK1_20181011_001004.hdf5
latent_feature/protoMAML/BUK1_20181013_023504.hdf5
latent_feature/protoMAML/BUK4_20161011_000804.hdf5
latent_feature/protoMAML/BUK4_20171022_004304a.hdf5
latent_feature/protoMAML/BUK5_20161101_002104a.hdf5
latent_feature/protoMAML/BUK5_20180921_015906a.hdf5
latent_feature/protoMAML/DC01.hdf5
latent_feature/protoMAML/DC02.hdf5
latent_feature/protoMAML/DC03.hdf5
latent_feature/protoMAML/DC04.hdf5
latent_feature/protoMAML/DC05.hdf5
latent_feature/protoMAML/DC06.hdf5
latent_feature/protoMAML/DC07.hdf5
latent_feature/protoMAML/DC08.hdf5
latent_feature/protoMAML/DC09.hdf5
latent_feature/protoMAML/DC10.hdf5
latent_feature/protoMAML/DC11.hdf5
latent_feature/protoMAML/DC12.hdf5
latent_feature/protoMAML/DCASE2021-ML_37045.hdf5
latent_feature/protoMAML/DCASE2021-ML_40509.hdf5
latent_feature/protoMAML/DCASE2021-ML_53963.hdf5
latent_feature/protoMAML/DCASE2021-ML_89792.hdf5
latent_feature/protoMAML/DCASE2021-ML_126376.hdf5
latent_feature/protoMAML/DCASE2021-ML_129696.hdf5
latent_feature/protoMAML/DCASE2021-ML_131198.hdf5
latent_feature/protoMAML/DCASE2021-ML_131369.hdf5
latent_feature/protoMAML/DCASE2021-ML_168236.hdf5
latent_feature/protoMAML/DCASE2021-ML_176488.hdf5
latent_feature/protoMAML/DCASE2021-ML_190099.hdf5
latent_feature/protoMAML/DCASE2021-ML_191491.hdf5
latent_feature/protoMAML/DCASE2021-ML_197045.hdf5
latent_feature/protoMAML/DCASE2021-ML_268995.hdf5
latent_feature/protoMAML/DCASE2021-ML_273164.hdf5
latent_feature/protoMAML/DCASE2021-ML_521435.hdf5
latent_feature/protoMAML/DCASE2021-ML_72010931.hdf5
latent_feature/protoMAML/ME1.hdf5
latent_feature/protoMAML/ME2.hdf5
latent_feature/protoMAML/n1.hdf5
latent_feature/protoMAMLlunkuo/a1.hdf5
latent_feature/protoMAMLlunkuo/BUK1_20181011_001004.hdf5
latent_feature/protoMAMLlunkuo/BUK1_20181013_023504.hdf5
latent_feature/protoMAMLlunkuo/BUK4_20161011_000804.hdf5
latent_feature/protoMAMLlunkuo/BUK4_20171022_004304a.hdf5
latent_feature/protoMAMLlunkuo/BUK5_20161101_002104a.hdf5
latent_feature/protoMAMLlunkuo/BUK5_20180921_015906a.hdf5
latent_feature/protoMAMLlunkuo/n1.hdf5
latent_feature/TNN/a1.hdf5
latent_feature/TNN/BUK1_20181011_001004.hdf5
latent_feature/TNN/BUK1_20181013_023504.hdf5
latent_feature/TNN/BUK4_20161011_000804.hdf5
latent_feature/TNN/BUK4_20171022_004304a.hdf5
latent_feature/TNN/BUK5_20161101_002104a.hdf5
latent_feature/TNN/BUK5_20180921_015906a.hdf5
latent_feature/TNN/DC01.hdf5
latent_feature/TNN/DC02.hdf5
latent_feature/TNN/DC03.hdf5
latent_feature/TNN/DC04.hdf5
latent_feature/TNN/DC05.hdf5
latent_feature/TNN/DC06.hdf5
latent_feature/TNN/DC07.hdf5
latent_feature/TNN/DC08.hdf5
latent_feature/TNN/DC09.hdf5
latent_feature/TNN/DC10.hdf5
latent_feature/TNN/DC11.hdf5
latent_feature/TNN/DC12.hdf5
latent_feature/TNN/DCASE2021-ML_37045.hdf5
latent_feature/TNN/DCASE2021-ML_40509.hdf5
latent_feature/TNN/DCASE2021-ML_53963.hdf5
latent_feature/TNN/DCASE2021-ML_89792.hdf5
latent_feature/TNN/DCASE2021-ML_126376.hdf5
latent_feature/TNN/DCASE2021-ML_129696.hdf5
latent_feature/TNN/DCASE2021-ML_131198.hdf5
latent_feature/TNN/DCASE2021-ML_131369.hdf5
latent_feature/TNN/DCASE2021-ML_168236.hdf5
latent_feature/TNN/DCASE2021-ML_176488.hdf5
latent_feature/TNN/DCASE2021-ML_190099.hdf5
latent_feature/TNN/DCASE2021-ML_191491.hdf5
latent_feature/TNN/DCASE2021-ML_197045.hdf5
latent_feature/TNN/DCASE2021-ML_268995.hdf5
latent_feature/TNN/DCASE2021-ML_273164.hdf5
latent_feature/TNN/DCASE2021-ML_521435.hdf5
latent_feature/TNN/DCASE2021-ML_72010931.hdf5
latent_feature/TNN/ME1.hdf5
latent_feature/TNN/ME2.hdf5
latent_feature/TNN/n1.hdf5
latent_feature/protoMAML/a1.hdf5
latent_feature/protoMAML/BUK1_20181011_001004.hdf5
latent_feature/protoMAML/BUK1_20181013_023504.hdf5
latent_feature/protoMAML/BUK4_20161011_000804.hdf5
latent_feature/protoMAML/BUK4_20171022_004304a.hdf5
latent_feature/protoMAML/BUK5_20161101_002104a.hdf5
latent_feature/protoMAML/BUK5_20180921_015906a.hdf5
latent_feature/protoMAML/DC01.hdf5
latent_feature/protoMAML/DC02.hdf5
latent_feature/protoMAML/DC03.hdf5
latent_feature/protoMAML/DC04.hdf5
latent_feature/protoMAML/DC05.hdf5
latent_feature/protoMAML/DC06.hdf5
latent_feature/protoMAML/DC07.hdf5
latent_feature/protoMAML/DC08.hdf5
latent_feature/protoMAML/DC09.hdf5
latent_feature/protoMAML/DC10.hdf5
latent_feature/protoMAML/DC11.hdf5
latent_feature/protoMAML/DC12.hdf5
latent_feature/protoMAML/DCASE2021-ML_37045.hdf5
latent_feature/protoMAML/DCASE2021-ML_40509.hdf5
latent_feature/protoMAML/DCASE2021-ML_53963.hdf5
latent_feature/protoMAML/DCASE2021-ML_89792.hdf5
latent_feature/protoMAML/DCASE2021-ML_126376.hdf5
latent_feature/protoMAML/DCASE2021-ML_129696.hdf5
latent_feature/protoMAML/DCASE2021-ML_131198.hdf5
latent_feature/protoMAML/DCASE2021-ML_131369.hdf5
latent_feature/protoMAML/DCASE2021-ML_168236.hdf5
latent_feature/protoMAML/DCASE2021-ML_176488.hdf5
latent_feature/protoMAML/DCASE2021-ML_190099.hdf5
latent_feature/protoMAML/DCASE2021-ML_191491.hdf5
latent_feature/protoMAML/DCASE2021-ML_197045.hdf5
latent_feature/protoMAML/DCASE2021-ML_268995.hdf5
latent_feature/protoMAML/DCASE2021-ML_273164.hdf5
latent_feature/protoMAML/DCASE2021-ML_521435.hdf5
latent_feature/protoMAML/DCASE2021-ML_72010931.hdf5
latent_feature/protoMAML/ME1.hdf5
latent_feature/protoMAML/ME2.hdf5
latent_feature/protoMAML/n1.hdf5
latent_feature/protoMAMLlunkuo/a1.hdf5
latent_feature/protoMAMLlunkuo/BUK1_20181011_001004.hdf5
latent_feature/protoMAMLlunkuo/BUK1_20181013_023504.hdf5
latent_feature/protoMAMLlunkuo/BUK4_20161011_000804.hdf5
latent_feature/protoMAMLlunkuo/BUK4_20171022_004304a.hdf5
latent_feature/protoMAMLlunkuo/BUK5_20161101_002104a.hdf5
latent_feature/protoMAMLlunkuo/BUK5_20180921_015906a.hdf5
latent_feature/protoMAMLlunkuo/n1.hdf5
Features2/Evaluation_Set/DC/DC01_pcen.npy
Features2/Evaluation_Set/DC/DC02_pcen.npy
Features2/Evaluation_Set/DC/DC03_pcen.npy
Features2/Evaluation_Set/DC/DC04_pcen.npy
Features2/Evaluation_Set/DC/DC05_pcen.npy
Features2/Evaluation_Set/DC/DC06_pcen.npy
Features2/Evaluation_Set/DC/DC07_pcen.npy
Features2/Evaluation_Set/DC/DC08_pcen.npy
Features2/Evaluation_Set/DC/DC09_pcen.npy
Features2/Evaluation_Set/DC/DC10_pcen.npy
Features2/Evaluation_Set/DC/DC11_pcen.npy
Features2/Evaluation_Set/DC/DC12_pcen.npy
Features2/Evaluation_Set/ME/ME1_pcen.npy
Features2/Evaluation_Set/ME/ME2_pcen.npy
Features2/Evaluation_Set/ML/DCASE2021-ML_37045_pcen.npy
Features2/Evaluation_Set/ML/DCASE2021-ML_40509_pcen.npy
Features2/Evaluation_Set/ML/DCASE2021-ML_53963_pcen.npy
Features2/Evaluation_Set/ML/DCASE2021-ML_89792_pcen.npy
Features2/Evaluation_Set/ML/DCASE2021-ML_126376_pcen.npy
Features2/Evaluation_Set/ML/DCASE2021-ML_129696_pcen.npy
Features2/Evaluation_Set/ML/DCASE2021-ML_131198_pcen.npy
Features2/Evaluation_Set/ML/DCASE2021-ML_131369_pcen.npy
Features2/Evaluation_Set/ML/DCASE2021-ML_168236_pcen.npy
Features2/Evaluation_Set/ML/DCASE2021-ML_176488_pcen.npy
Features2/Evaluation_Set/ML/DCASE2021-ML_190099_pcen.npy
Features2/Evaluation_Set/ML/DCASE2021-ML_191491_pcen.npy
Features2/Evaluation_Set/ML/DCASE2021-ML_197045_pcen.npy
Features2/Evaluation_Set/ML/DCASE2021-ML_268995_pcen.npy
Features2/Evaluation_Set/ML/DCASE2021-ML_273164_pcen.npy
Features2/Evaluation_Set/ML/DCASE2021-ML_521435_pcen.npy
Features2/Evaluation_Set/ML/DCASE2021-ML_72010931_pcen.npy
Features2/Training_Set/BV/2015-09-04_08-04-59_unit03_pcen.npy
Features2/Training_Set/BV/2015-09-11_06-00-00_unit07_pcen.npy
Features2/Training_Set/BV/2015-09-21_06-00-00_unit05_pcen.npy
Features2/Training_Set/BV/2015-09-25_04-00-00_unit10_pcen.npy
Features2/Training_Set/BV/2015-10-14_23-59-59_unit05_pcen.npy
Features2/Training_Set/HT/e1_pcen.npy
Features2/Training_Set/HT/h1_pcen.npy
Features2/Training_Set/HT/y1_pcen.npy
Features2/Training_Set/JD/sp4f1_2015_04_24-05_00_00_0002_pcen.npy
Features2/Training_Set/MT/dcase_MK1_pcen.npy
Features2/Training_Set/MT/dcase_MK2_pcen.npy
Features2/Validation_Set/HV/a1_pcen.npy
Features2/Validation_Set/HV/n1_pcen.npy
Features2/Validation_Set/PB/BUK1_20181011_001004_pcen.npy
Features2/Validation_Set/PB/BUK1_20181013_023504_pcen.npy
Features2/Validation_Set/PB/BUK4_20161011_000804_pcen.npy
Features2/Validation_Set/PB/BUK4_20171022_004304a_pcen.npy
Features2/Validation_Set/PB/BUK5_20161101_002104a_pcen.npy
Features2/Validation_Set/PB/BUK5_20180921_015906a_pcen.npy
Features2/WMW/XC26959_pcen.npy
Features2/WMW/XC30134_pcen.npy
Features2/WMW/XC31615_pcen.npy
Features2/WMW/XC41249_pcen.npy
Features2/WMW/XC42541_pcen.npy
Features2/WMW/XC42542_pcen.npy
Features2/WMW/XC67350_pcen.npy
Features2/WMW/XC90713_pcen.npy
Features2/WMW/XC100296_pcen.npy
Features2/WMW/XC100619_pcen.npy
Features2/WMW/XC100622_pcen.npy
Features2/WMW/XC100954_pcen.npy
Features2/WMW/XC103243_pcen.npy
Features2/WMW/XC106971_pcen.npy
Features2/WMW/XC109629_pcen.npy
Features2/WMW/XC120411_pcen.npy
Features2/WMW/XC120730_pcen.npy
Features2/WMW/XC129156_pcen.npy
Features2/WMW/XC131532_pcen.npy
Features2/WMW/XC134051_pcen.npy
Features2/WMW/XC134219_pcen.npy
Features2/WMW/XC134761_pcen.npy
Features2/WMW/XC134762_pcen.npy
Features2/WMW/XC135278_pcen.npy
Features2/WMW/XC135658_pcen.npy
Features2/WMW/XC141170_pcen.npy
Features2/WMW/XC141571_pcen.npy
Features2/WMW/XC142515_pcen.npy
Features2/WMW/XC143954_pcen.npy
Features2/WMW/XC144531_pcen.npy
Features2/WMW/XC145121_pcen.npy
Features2/WMW/XC146712_pcen.npy
Features2/WMW/XC149153_pcen.npy
Features2/WMW/XC150591_pcen.npy
Features2/WMW/XC164817_pcen.npy
Features2/WMW/XC171122_pcen.npy
Features2/WMW/XC171445_pcen.npy
Features2/WMW/XC180287_pcen.npy
Features2/WMW/XC180605_pcen.npy
Features2/WMW/XC181349_pcen.npy
Features2/WMW/XC184429_pcen.npy
Features2/WMW/XC185101_pcen.npy
Features2/WMW/XC185104_pcen.npy
Features2/WMW/XC186806_pcen.npy
Features2/WMW/XC188147_pcen.npy
Features2/WMW/XC189882_pcen.npy
Features2/WMW/XC189883_pcen.npy
Features2/WMW/XC196976_pcen.npy
Features2/WMW/XC208705_pcen.npy
Features2/WMW/XC234105_pcen.npy
Features2/WMW/XC236456_pcen.npy
Features2/WMW/XC240134_pcen.npy
Features2/WMW/XC245725_pcen.npy
Features2/WMW/XC252756_pcen.npy
Features2/WMW/XC252757_pcen.npy
Features2/WMW/XC253273_pcen.npy
Features2/WMW/XC263296_pcen.npy
Features2/WMW/XC270427_pcen.npy
Features2/WMW/XC280997_pcen.npy
Features2/WMW/XC281357_pcen.npy
Features2/WMW/XC281359_pcen.npy
Features2/WMW/XC296053_pcen.npy
Features2/WMW/XC299191_pcen.npy
Features2/WMW/XC299330_pcen.npy
Features2/WMW/XC299495_pcen.npy
Features2/WMW/XC312051_pcen.npy
Features2/WMW/XC314267_pcen.npy
Features2/WMW/XC314697_pcen.npy
Features2/WMW/XC315733_pcen.npy
Features2/WMW/XC317421_pcen.npy
Features2/WMW/XC318427_pcen.npy
Features2/WMW/XC324343_pcen.npy
Features2/WMW/XC326162_pcen.npy
Features2/WMW/XC336861_pcen.npy
Features2/WMW/XC341211_pcen.npy
Features2/WMW/XC343737_pcen.npy
Features2/WMW/XC356856_pcen.npy
Features2/WMW/XC357687_pcen.npy
Features2/WMW/XC357911_pcen.npy
Features2/WMW/XC361804_pcen.npy
Features2/WMW/XC364458_pcen.npy
Features2/WMW/XC365601_pcen.npy
Features2/WMW/XC371002_pcen.npy
Features2/WMW/XC376956_pcen.npy
Features2/WMW/XC379837_pcen.npy
Features2/WMW/XC379838_pcen.npy
Features2/WMW/XC379953_pcen.npy
Features2/WMW/XC405096_pcen.npy
Features2/WMW/XC406576_pcen.npy
Features2/WMW/XC416749_pcen.npy
Features2/WMW/XC416949_pcen.npy
Features2/WMW/XC417089_pcen.npy
Features2/WMW/XC417425_pcen.npy
Features2/WMW/XC420542_pcen.npy
Features2/WMW/XC422018_pcen.npy
Features2/WMW/XC422019_pcen.npy
Features2/WMW/XC422437_pcen.npy
Features2/WMW/XC428706_pcen.npy
Features2/WMW/XC432145_pcen.npy
Features2/WMW/XC432572_pcen.npy
Features2/WMW/XC440361_pcen.npy
Features2/WMW/XC440482_pcen.npy
Features2/WMW/XC447442_pcen.npy
Features2/WMW/XC448652_pcen.npy
Features2/WMW/XC448653_pcen.npy
Features2/WMW/XC449187_pcen.npy
Features2/WMW/XC454603_pcen.npy
Features2/WMW/XC457036_pcen.npy
Features2/WMW/XC459669_pcen.npy
Features2/WMW/XC460195_pcen.npy
Features2/WMW/XC466157_pcen.npy
Features2/WMW/XC466742_pcen.npy
Features2/WMW/XC467851_pcen.npy
Features2/WMW/XC469959_pcen.npy
Features2/WMW/XC471768_pcen.npy
Features2/WMW/XC473571_pcen.npy
Features2/WMW/XC474017_pcen.npy
Features2/WMW/XC474019_pcen.npy
Features2/WMW/XC475965_pcen.npy
Features2/WMW/XC476146_pcen.npy
Features2/WMW/XC476854_pcen.npy
Features2/WMW/XC477007_pcen.npy
Features2/WMW/XC477331_pcen.npy
Features2/WMW/XC478850_pcen.npy
Features2/WMW/XC479839_pcen.npy
Features2/WMW/XC479978_pcen.npy
Features2/WMW/XC483694_pcen.npy
Features2/WMW/XC483697_pcen.npy
Features2/WMW/XC483906_pcen.npy
Features2/WMW/XC484626_pcen.npy
Features2/WMW/XC485312_pcen.npy
Features2/WMW/XC486755_pcen.npy
Features2/WMW/XC487692_pcen.npy
Features2/WMW/XC487693_pcen.npy
Features2/WMW/XC488409_pcen.npy
Features2/WMW/XC495092_pcen.npy
Features2/WMW/XC496443_pcen.npy
Features2/WMW/XC501872_pcen.npy
Features2/WMW/XC505960_pcen.npy
Features2/WMW/XC510499_pcen.npy
Features2/WMW/XC510571_pcen.npy
Features2/WMW/XC511641_pcen.npy
Features2/WMW/XC511642_pcen.npy
Features2/WMW/XC511674_pcen.npy
Features2/WMW/XC511677_pcen.npy
Features2/WMW/XC514029_pcen.npy
Features2/WMW/XC515865_pcen.npy
Features2/WMW/XC519898_pcen.npy
Features2/WMW/XC519927_pcen.npy
Features2/WMW/XC522273_pcen.npy
Features2/WMW/XC522864_pcen.npy
Features2/WMW/XC526238_pcen.npy
Features2/WMW/XC528227_pcen.npy
Features2/WMW/XC538213_pcen.npy
Features2/WMW/XC538467_pcen.npy
Features2/WMW/XC538478_pcen.npy
Features2/WMW/XC538710_pcen.npy
Features2/WMW/XC538941_pcen.npy
Features2/WMW/XC538943_pcen.npy
Features2/WMW/XC544680_pcen.npy
Features2/WMW/XC550870_pcen.npy
